.knowledge{
    background: linear-gradient(90deg, #f3f3f3, #daab68);
    overflow: hidden;
    margin-top: 105px;
}
.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    margin-top: 25px;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
    border-radius: 1%;
}